@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @apply select-none font-sans;
}

@font-face {
  font-family: poppins;
  src: url("./assets/Poppins-Regular.ttf");
}
